<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Meta tags for social media banners, these should be filled in appropriatly as they are your "business card" -->
  <!-- Replace the content tag with appropriate information -->
  <meta name="description" content="{{ page.tldr }}">
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:description" content="{{ page.tldr }}"/>
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:image" content="{{ page.title_image.url | absolute_url }}" />


  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.tldr }}">
  <meta name="twitter:image" content="{{ page.title_image.url | absolute_url }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>{{ page.title }}</title>
  <!-- <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"> -->
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
  rel="stylesheet">

  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="/static/css/bulma-slider.min.css">
  <link rel="stylesheet" href="/static/css/fontawesome.all.min.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="/static/css/index.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
  <script defer src="/static/js/fontawesome.all.min.js"></script>
  <script src="/static/js/bulma-carousel.min.js"></script>
  <script src="/static/js/bulma-slider.min.js"></script>
  <script src="/static/js/index.js"></script>
</head>
<body>


  <section class="hero">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <h1 class="title is-2 publication-title">{{ page.title }}</h1>

                <!-- Author names -->
                {% include title.html %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Sections -->
{%- for section in page.sections -%}
<section class="section hero {{section.is_light}}">
    <div class="container is-max-desktop">
    <!-- <div class="container is-full"> -->
      <div class="columns is-centered has-text-centered">
        <!-- <div class="column is-four-fifths"> -->
        <div class="column is-full">
          <h2 class="title is-3">{{section.title}}</h2>
          <div class="content has-text-justified">
            {%- for paragraph in section.paragraphs -%}
                {% case paragraph.type %}
                    {% when "text" %}
                    <p>{{paragraph.content}}</p>
        
                    {% when "mini-title" %}
                    <center><h3>{{paragraph.content}}</h3></center>
                    {% when "table" %}
                    <div class="table-container" style="max-width: {{paragraph.max_width}}px;">
                        <p>{{paragraph.content}}</p>
                    </div>
                    
                    {% when "image" %}
                    <div class="img-container">
                        <img src="{{paragraph.url}}" style="width: {{paragraph.max_width}}px"/>
                        {% if paragraph.caption %}
                            <p class="caption"><span>{{paragraph.caption}}</span></p>
                        {% endif %}
                    </div>
        
                    {% when "images" %}
                    <div class="img-container has-text-centered">
                        {% for url in paragraph.urls %}
                        <img src="{{paragraph.host}}{{url}}" style="max-width: {{paragraph.max_width}}px"/>
                        {% endfor %}
                        {% if paragraph.caption %}
                        <p class="caption has-text-justified">{{paragraph.caption}}</p>
                        {% endif %}
                    </div>
            

                    {% when "video" %}
                    <div class="img-container">
                        <div style="text-align: center;">
                            {% assign border_style = 'border: none' %}
                            {% unless paragraph.ignore_border %}{% assign border_style = 'border: 1px solid black; border-radius: 1px' %}{% endunless %}
                            {% assign controls = 'controls' %}
                            {% if paragraph.no_controls %}{% assign controls = '' %}{% endif %}
                            <video style="{{border_style}}; height: auto;" width="{{paragraph.width}}" class="{{paragraph.additional_classes}}" preload="auto" src="{{paragraph.host}}{{paragraph.url}}" type="video/mp4" {{controls}} loop {{paragraph.autoplay_attr}}></video>
                        </div>
                        {% if paragraph.caption %}
                        <p class="caption">{{paragraph.caption}}</p>
                        {% endif %}
                    </div>

                    {% when "videos" %}
                    <div class="img-container">
                        <div class="videos-list" style="text-align: center;">
                            {% for video in paragraph.videos %}
                            <!-- <div class="video-item"> -->
                                <video
                                width="{{ paragraph.video_width }}"
                                style="border: 1px solid black; border-radius: 1px;"
                                preload="auto"
                                src="{{ paragraph.host }}{{ video.url }}"
                                type="video/mp4"
                                {% if paragraph.loop != false %}loop{% endif %}
                                {% if paragraph.autoplay == true %}autoplay muted playsinline{% endif %}
                                {% if paragraph.controls != false %}controls{% endif %}>
                              </video>
                                {% if video.caption %}
                                <p class="caption"><span>{{video.caption}}</span></p>
                                {% endif %} 
                            <!-- </div> -->
                            {% endfor %}
                        </div>
                        {% if paragraph.caption %}
                        <p class="caption"><span>{{paragraph.caption}}</span></p>
                        {% endif %}
                    </div>
                {%- endcase -%}
            {%- endfor -%}

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <hr/> -->
{%- endfor -%}
<!-- End Sections -->

<!-- Contact -->
{%- if page.contact -%}
<section class="section" id="Contact">
    <div class="container is-max-desktop">
      <h2 class="title">Contact</h2>
      <pre><code>{{ page.contact }}</code></pre>
    </div>
</section>
{%- endif -%}

<!--BibTex citation -->
  <section class="section" id="BibTeX">
    <div class="container is-max-desktop content">
      <h2 class="title">BibTeX</h2>
      <!-- <pre><code>BibTex Code Here</code></pre> -->
      <pre><code>{{ page.bibtex }}</code></pre>
    </div>
</section>
<!--End BibTex citation -->


  <footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">

          <p>
            This page was built using the <a href="https://github.com/eliahuhorwitz/Academic-project-page-template" target="_blank">Academic Project Page Template</a> which was adopted from the <a href="https://nerfies.github.io" target="_blank">Nerfies</a> project page.
            <br> This website is licensed under a <a rel="license"  href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>.
          </p>

        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Statcounter tracking code -->
  
<!-- You can add a tracker to track page visits by creating an account at statcounter.com -->

    <!-- End of Statcounter Code -->

  </body>
  </html>
